@import 'tailwindcss';
@import url();

.gradient-text {
  background: linear-gradient(to right, #ff5722, #d81b7e, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
